@{
  var theme = Context.Request.GetTheme();
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - FretWeb</title>
  @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
  @if (theme == Theme.Dark)
  {
    <link rel="stylesheet" href="~/lib/bootswatch/darkly.min.css"/>
  }
  else
  {
    <link rel="stylesheet" href="~/lib/bootswatch/flatly.min.css"/>
  }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  @if (theme == Theme.Dark)
  {
    <link rel="stylesheet" href="~/css/fretboard-dark.css" asp-append-version="true"/>
  }
  else
  {
    <link rel="stylesheet" href="~/css/fretboard-light.css" asp-append-version="true"/>
  }
  @* <link rel="stylesheet" href="~/FretWeb.styles.css" asp-append-version="true" /> *@
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-@theme.ToString().ToLower() bg-secondary border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FretWeb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
        @* <ul class="navbar-nav flex-grow-1"> *@
        <div class="dropdown show">
          <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="dropdownScales" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Scales
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownScales">
            @foreach (var scale in Scales.EnumerateScales())
            {
              <a class="dropdown-item" asp-controller="Scales" asp-action="Get" asp-route-id="@scale.Id">@scale.Name</a>
            }
          </div>
        </div>

        <div class="dropdown show">
          <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="dropdownModes" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modes
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownModes">
            @foreach (var scale in Scales.EnumerateModes())
            {
              <a class="dropdown-item" asp-controller="Scales" asp-action="Get" asp-route-id="@scale.Id">@scale.Name</a>
            }
          </div>
        </div>

        <div class="dropdown show">
          <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="dropdownFretboards" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fretboards
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownFretboards">
            @foreach(var t in StandardTunings.All())
            {
            <a class="dropdown-item" asp-controller="Fretboards" asp-action="Get" asp-route-tuning="@t.Tuning">@t.Group @t.Name</a>
            }
          </div>
        </div>

        <div class="dropdown show">
          <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="dropdownBuilder" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Builder
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownBuilder">
            <a class="dropdown-item" asp-controller="Builder" asp-action="Scales">Scales</a>
            <a class="dropdown-item" asp-controller="Builder" asp-action="Arpeggios">Arpeggios</a>
          </div>
        </div>

      </div>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item">
          <div class="dropdown show">
            <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="dropdownTheme" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Theme
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownTheme">
              <a class="dropdown-item" href="@Context.Request.SetThemeUrl(Theme.Light)">Light</a>
              <a class="dropdown-item" href="@Context.Request.SetThemeUrl(Theme.Dark)">Dark</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary mx-2" asp-action="Feedback">Feedback</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2023 - Mark Rendle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>