@using FretWeb.Fretboards
@{
  ViewData["Title"] = "FretWeb";
}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Fretboards</h2>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Bass</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Bass"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Guitar</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Guitar"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Ukulele</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Ukulele"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Scales</h2>
        <ul class="nav">
          @foreach (var scaleSet in Scales.EnumerateScales())
          {
            <li class="nav-item"><a href="@Url.Scale(scaleSet.Id)" class="nav-link">@scaleSet.Id</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Modes</h2>
        <ul class="nav">
          @foreach (var scaleSet in Scales.EnumerateModes())
          {
            <li class="nav-item"><a href="@Url.Scale(scaleSet.Id)" class="nav-link">@scaleSet.Id</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
