@{
  ViewData["Title"] = "FretBadger";
}

<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Hello!</h2>
        <p class="fs-5">This is FretBadger, a site I made to help me learn my bass fretboard. It can render fretboards
          showing notes, scales, arpeggios and chords. You can use the Builder to create pages with multiple
          <a asp-controller="Builder" asp-action="Scales">scales</a> and
          <a asp-controller="Builder" asp-action="Arpeggios">arpeggios</a>, bookmark those pages to save them,
          and print them out too.</p>
        <p>It's a work in progress, so if something doesn't work or there's a scale or arpeggio missing, please
          use the <a asp-controller="Home" asp-action="Feedback">Feedback</a> page to let me know.</p>
        <p>The project is open-source and hosted on <a href="https://github.com/markrendle/fretweb">GitHub</a>. If you
          happen to be a web design guru you might help me make it look nicer - I'm a coder with minimal design
          chops.</p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Fretboards</h2>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Bass</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Bass"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Guitar</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Guitar"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Ukulele</h3>

                  <ul class="nav flex-column">
                    @foreach (var t in StandardTunings.Group("Ukulele"))
                    {
                    <li class="nav-item">
                      <a href="@Url.Fretboard(t.Tuning)" class="nav-link">@t.Name</a>
                    </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Scales</h2>
        <ul class="nav">
          @foreach (var scaleSet in Scales.EnumerateScales())
          {
            <li class="nav-item"><a href="@Url.Scale(scaleSet.Id)" class="nav-link">@scaleSet.Id</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Modes</h2>
        <ul class="nav">
          @foreach (var scaleSet in Scales.EnumerateModes())
          {
            <li class="nav-item"><a href="@Url.Scale(scaleSet.Id)" class="nav-link">@scaleSet.Id</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
